/* Style the App */
.App {
  text-align: center;
  background: rgb(167,217,145);
background: linear-gradient(155deg, rgba(167,217,145,1) 0%, rgba(5,4,1,1) 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
}

/* Position and size child elements */
.App #console {
  display: inline-block;
  height: 95vh;
  width: 55vh;
}