.console {
    display: inline-block;
    height: 95vh;
    width: 55vh;
    background-color: #b9b5b4;
    border-radius: 5%;
    border-bottom-right-radius: 20%;
}

.console_screen {
    width: 50vh;
    height: 45vh;
    margin: auto;
    margin-top: 20px;
    background-color: #9f9e9c;
    border-radius: 2%;
    box-shadow: inset 0 0 4px black;
}

.console_screen-display {
    position: relative;
    width: 38vh;
    height: 38vh;
    margin: auto;
    top: 20px;
    background-color: #79856b;
    border-radius: 2%;
    box-shadow: inset 0 0 4px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.active_item {
    color: #79856b;
    background: black;
    margin: 1vh;
    padding: 1vh;
}

.console_buttons {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    position: relative;
}

.console_btn--circle {
    display: inline-block;
    position: absolute;
    height: 7vh;
    width: 7vh;
    background-color: #1e1e20;
    border-radius: 50%;
}

.AB_buttons {
    display: inline-block;
}

.console_accept {
    top: 10vh;
    right: 5vh;
}

.console_accept::after {
    position: absolute;
    content: "A";
    top: 7vh;
}

.console_back {
    top: 14vh;
    right: 14vh;
}

.console_back::after {
    position: absolute;
    content: "B";
    top: 7vh;
}

.console_directions {
    font-size: 2em;
    font-weight: bold;
    position: relative;
}

.console_leftRight {
    transform: rotate(90deg);
}

.console_direction {
    width: 5vh;
    background-color: #1e1e20;
    height: 13vh;
    border-radius: 12px;
    top: 9vh;
    left: -10vh;
    position: absolute;
}


.console_direction.console_upDown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.console_direction.console_upDown button, .console_direction.console_leftRight button {
    background: transparent;
    position: relative;
    height: 5vh;
    color: white;
    border: none;
}

.console_direction.console_leftRight {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-content: center;
}

.console_direction.console_leftRight button {
    transform: rotate(-90deg)
}

/* Start and Select buttons */
.startSelect_buttons {
    position: relative;
    bottom: -34vh;
}

.startSelect_buttons button {
    width: 6vh;
    margin: 1vh;
    background-color: black;
    border-radius: 30%
}

.console_start::after {
    position: relative;
    content: "Start";
    top: 3vh;
    left: -2vh;
}
.console_select::after {
    position: relative;
    content: "Select";
    top: 3vh;
    left: -4vh;
}